/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 de mar. de 2026, 12:04:06
    Author     : helde
*/
body{
    height: 100vh;
    background: linear-gradient(135deg, var(--primary-dark),var(--primary-medium));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Principal */
.container{
    background-color: var(--white); 
    padding: 40px;
    width: 350px;
    box-shadow: 0px 8px 25px var(--shadow-default);
    border-radius: 10px;
}

/* Titulo */
.container h1{
    text-align: center;
    margin-bottom: 25px;
    color: var(--gray-dark);
}
/* labels */
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--gray-dark);
}
/* inputs */
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid var(--gray-medium);
    transition: 0.3s;
}
/* Efeito ao clicar */
input:focus{
    border-color: var(--primary-medium);
    outline: none;
    box-shadow: 0 0 5px var(--primary-medium);
}
/* Botão */
button{
    width: 100%;
    padding: 12px;
    background-color: var(--success);
    border: none;
    border-radius: 6px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
/* Hover botão */
button:hover{
    background-color: var(--success-hover);
}